.bg {
  background-color: var(--background-color);
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; */
}

header {
  margin-bottom: 20px;
  background-color: var(--background-color);
}

.name-icon {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
}

#logo {
  height: 50px;
  width: 50px;
}

.nombre-app{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  background-color: var(--background-color);
  justify-content: space-between;
  padding: 15px;

}

#navbarNav {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
  font-size: 1.2em;
}

.nav-item{
  margin: auto 0;
  margin-left: 10px;
}

.navbar {
  padding: 1rem;
}

.navbar-brand img {
  margin-right: 10px;
}

.main {
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.lead {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.btn-custom {
  background-color: #7033ff;
  color: white;
}

.btn-custom:hover {
  background-color: #a661ff;
}

/* Estilos para el pie de página */
footer {
  background-color: #8d73e9;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer img {
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
}

footer p {
  font-size: 1rem;
  margin: 0;
}