<div class="sidebar" id="sidebar" [ngClass]="{'min-sidebar': isMinimized}">
    <div class="nombre-app " [ngClass]="{'nombre-app-oculto': isMinimized}">
        <!-- <span class="material-symbols-rounded">dock_to_right</span> -->
        <img src="assets/image/icon-sisvita.png" alt="icon-app">
        <span class="name-icon">SISVITA</span>
    </div>
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/main/inicio']">
                    <span class="material-symbols-rounded">home</span>
                    <span class="name-option" [ngClass]="{'name-option-oculto': isMinimized}">Inicio</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-rounded">timeline</span>
                    <span class="name-option" [ngClass]="{'name-option-oculto': isMinimized}">Historial</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/main/test-ansiedad']">
                    <span class="material-symbols-rounded">quiz</span>
                    <span class="name-option" [ngClass]="{'name-option-oculto': isMinimized}">Test</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-rounded">chat</span>
                    <span class="name-option" [ngClass]="{'name-option-oculto': isMinimized}">Chat</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-rounded">manage_accounts</span>
                    <span class="name-option" [ngClass]="{'name-option-oculto': isMinimized}">Cuenta</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-rounded">logout</span>
                    <span class="name-option" [ngClass]="{'name-option-oculto': isMinimized}">Salir</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
