<div class="main">
    <div class="nav">
        <button id="btn-desplegable" class="btn" (click)="toggleSidebar()">
            <span class="material-symbols-rounded">dock_to_right</span>
        </button>
        <span></span>
        <div>
            <p>Melany</p>
            <span class="material-symbols-rounded">person</span>
        </div>
    </div>
    <div class="content p-4">
        <router-outlet></router-outlet>
        <!-- <app-inicio></app-inicio> -->
        <!-- <app-test-ansiedad></app-test-ansiedad> -->
    </div>
</div>
