<div class="content">
  <h5 class="">Reliza el test que mas adecuado</h5>
  <div class="d-flex justify-content-evenly align-items-center">
    <div class="card text-bg-dark">
      <img src="assets/image/bg-test1.svg" class="card-img" alt="bg-test1">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card text-bg-dark">
      <img src="assets/image/bg-test2.svg" class="card-img" alt="bg-test2">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card text-bg-dark">
      <img src="assets/image/bg-test3.svg" class="card-img" alt="bg-test3">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>