<div class="content">
  <h4 class="subtitulo">Realiza el test que más adecuado</h4>
  <div class="d-flex justify-content-evenly align-items-center">
    <a *ngFor="let test of tests" class="card text-bg-dark" [routerLink]="['/main/testView', test.test_id]">
      <img [src]="'assets/image/bg-test' + test.test_id + '.svg'" class="card-img" [alt]="'bg-test' + test.test_id">
      <div class="card-img-overlay">
        <h5 class="card-title">{{ test.titulo }}</h5>
        <p class="card-text">{{ test.descripcion }}</p>
        <!-- <p class="card-text"><small>Tiempo estimado: {{ test.tiempo_estimado }} minutos</small></p> -->
      </div>
    </a>
  </div>
</div>