<div class="contenedor">
    <div class="form-container">
        <h2 class="form-header">TEST DE ANSIEDAD</h2>
        <p>Lee atentamente cada una de las preguntas. ¿De qué manera cada una de estas frases describe como te has sentido a lo largo de esta última semana? ¿Te has sentido así “casi nunca o raras veces”, “algunas veces”, “a menudo”, “muy a menudo”?</p>
        <form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Casi nunca</th>
                        <th>Alguna vez</th>
                        <th>A menudo</th>
                        <th>Muy a menudo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. Me siento más nervioso de lo normal.</td>
                        <td><input type="radio" name="question1" value="casi_nunca"></td>
                        <td><input type="radio" name="question1" value="alguna_vez"></td>
                        <td><input type="radio" name="question1" value="a_menudo"></td>
                        <td><input type="radio" name="question1" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>2. Me siento asustado sin ninguna razón.</td>
                        <td><input type="radio" name="question2" value="casi_nunca"></td>
                        <td><input type="radio" name="question2" value="alguna_vez"></td>
                        <td><input type="radio" name="question2" value="a_menudo"></td>
                        <td><input type="radio" name="question2" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>3. Me asusto fácilmente o me coge el pánico.</td>
                        <td><input type="radio" name="question3" value="casi_nunca"></td>
                        <td><input type="radio" name="question3" value="alguna_vez"></td>
                        <td><input type="radio" name="question3" value="a_menudo"></td>
                        <td><input type="radio" name="question3" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>4. Me siento destrozado y me parece que estoy por derrumbarme.</td>
                        <td><input type="radio" name="question4" value="casi_nunca"></td>
                        <td><input type="radio" name="question4" value="alguna_vez"></td>
                        <td><input type="radio" name="question4" value="a_menudo"></td>
                        <td><input type="radio" name="question4" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>5. Me parece que va todo bien y que no me pasará nada malo.</td>
                        <td><input type="radio" name="question5" value="casi_nunca"></td>
                        <td><input type="radio" name="question5" value="alguna_vez"></td>
                        <td><input type="radio" name="question5" value="a_menudo"></td>
                        <td><input type="radio" name="question5" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>6. Me tiemblan los brazos y las piernas.</td>
                        <td><input type="radio" name="question6" value="casi_nunca"></td>
                        <td><input type="radio" name="question6" value="alguna_vez"></td>
                        <td><input type="radio" name="question6" value="a_menudo"></td>
                        <td><input type="radio" name="question6" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>7. Me atormentan el dolor de cabeza, del cuello y de la espalda.</td>
                        <td><input type="radio" name="question7" value="casi_nunca"></td>
                        <td><input type="radio" name="question7" value="alguna_vez"></td>
                        <td><input type="radio" name="question7" value="a_menudo"></td>
                        <td><input type="radio" name="question7" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>8. Me siento débil y me canso fácilmente.</td>
                        <td><input type="radio" name="question8" value="casi_nunca"></td>
                        <td><input type="radio" name="question8" value="alguna_vez"></td>
                        <td><input type="radio" name="question8" value="a_menudo"></td>
                        <td><input type="radio" name="question8" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>9. Me siento calmo y puedo estar sentado fácilmente.</td>
                        <td><input type="radio" name="question9" value="casi_nunca"></td>
                        <td><input type="radio" name="question9" value="alguna_vez"></td>
                        <td><input type="radio" name="question9" value="a_menudo"></td>
                        <td><input type="radio" name="question9" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>10. Siento que mi corazón late rápido.</td>
                        <td><input type="radio" name="question10" value="casi_nunca"></td>
                        <td><input type="radio" name="question10" value="alguna_vez"></td>
                        <td><input type="radio" name="question10" value="a_menudo"></td>
                        <td><input type="radio" name="question10" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>11. Sufro de vértigo.</td>
                        <td><input type="radio" name="question11" value="casi_nunca"></td>
                        <td><input type="radio" name="question11" value="alguna_vez"></td>
                        <td><input type="radio" name="question11" value="a_menudo"></td>
                        <td><input type="radio" name="question11" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>12. Me parece que estoy por desmayarme.</td>
                        <td><input type="radio" name="question12" value="casi_nunca"></td>
                        <td><input type="radio" name="question12" value="alguna_vez"></td>
                        <td><input type="radio" name="question12" value="a_menudo"></td>
                        <td><input type="radio" name="question12" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>13. Respira con dificultad.</td>
                        <td><input type="radio" name="question13" value="casi_nunca"></td>
                        <td><input type="radio" name="question13" value="alguna_vez"></td>
                        <td><input type="radio" name="question13" value="a_menudo"></td>
                        <td><input type="radio" name="question13" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>14. Tengo sensaciones de entorpecimiento y hormigueo en los dedos de las manos y de los pies.</td>
                        <td><input type="radio" name="question14" value="casi_nunca"></td>
                        <td><input type="radio" name="question14" value="alguna_vez"></td>
                        <td><input type="radio" name="question14" value="a_menudo"></td>
                        <td><input type="radio" name="question14" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>15. Sufro de dolor de estómago o de indigestión.</td>
                        <td><input type="radio" name="question15" value="casi_nunca"></td>
                        <td><input type="radio" name="question15" value="alguna_vez"></td>
                        <td><input type="radio" name="question15" value="a_menudo"></td>
                        <td><input type="radio" name="question15" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>16. Necesito orinar a menudo.</td>
                        <td><input type="radio" name="question16" value="casi_nunca"></td>
                        <td><input type="radio" name="question16" value="alguna_vez"></td>
                        <td><input type="radio" name="question16" value="a_menudo"></td>
                        <td><input type="radio" name="question16" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>17. Mis manos están secas y calientes por lo general.</td>
                        <td><input type="radio" name="question17" value="casi_nunca"></td>
                        <td><input type="radio" name="question17" value="alguna_vez"></td>
                        <td><input type="radio" name="question17" value="a_menudo"></td>
                        <td><input type="radio" name="question17" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>18. Mi cara se calienta y se pone roja fácilmente.</td>
                        <td><input type="radio" name="question18" value="casi_nunca"></td>
                        <td><input type="radio" name="question18" value="alguna_vez"></td>
                        <td><input type="radio" name="question18" value="a_menudo"></td>
                        <td><input type="radio" name="question18" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>19. Me duermo fácilmente y me despierto descansado.</td>
                        <td><input type="radio" name="question19" value="casi_nunca"></td>
                        <td><input type="radio" name="question19" value="alguna_vez"></td>
                        <td><input type="radio" name="question19" value="a_menudo"></td>
                        <td><input type="radio" name="question19" value="muy_a_menudo"></td>
                    </tr>
                    <tr>
                        <td>20. Tengo pesadillas.</td>
                        <td><input type="radio" name="question20" value="casi_nunca"></td>
                        <td><input type="radio" name="question20" value="alguna_vez"></td>
                        <td><input type="radio" name="question20" value="a_menudo"></td>
                        <td><input type="radio" name="question20" value="muy_a_menudo"></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>