*{
    margin: 0px;
    padding: 0px;
}

.nav{
    display: flex;
    background-color: var(--background-color);
    justify-content: space-between;
    padding: 15px;
    
}
.nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.2em;
}

.btn{
    align-items: center;
    height: 50px;
    display: flex;
    border-radius: 10px;
    left: 265px;
    transition: left 0.5s ease;
}

.btn-slidebar{
    /* new */
    position: absolute;
    left: 15px;
}

.nav button:hover{
    background-color: var(--opcion-hover);
}

.nav div span{
    margin-left: 10px;
}

.material-symbols-rounded{
    font-size: 32px;
    min-width: 50px;
}

.content{
    background-color: var(--background-color-2);
    padding: 20px;
    min-height: calc(100vh - 80px);
    /* flex-grow: 1; */
    /* border: 2px solid salmon; */
}
